/* Put stuff specific to the about page here */
/* for testing purpose 
        ABOUT US
body {
  background-color: rgb(44, 22, 22);
}
*/
/* Background change*/


#sticky {
  position:fixed;
  top:10px;
  left:10px;
  right:10px;
  height:50px;
  transition: all 2s ease;
}
#sticky.light {
  color:black;
}
#sticky.dark {
  color:white;
}
.content1 {
  width:100%;
  height:250px;
  transition: all 4s ease;
  margin-top: 1%;
}
.content1.dark {
  background:black;
}
.content1.light {
  background:#f2f2f2;
}



/* webpage*/
img {
    border-radius: 50%;
  }
  .picture{
    float: right;
    position: relative;
    padding-top: 2%;
    margin-right: 15%;
    margin-top: 2%;
    width: 400px;
   
    border-radius: 50%;
   
  }
  .picture1{
    float: left;
    position: relative;
    padding-top: 2%;
    margin-left: 20%;
    width: 400px;
    margin-top: 2%;
    border-radius: 50%;
  }
  
  
  .aboutUs {
    
    float: right;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 5%;
    margin-right: 20%;
    margin-top: 2%;

  }
  .aboutUs1 {
    
    float: left;
    text-align: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 5%;
    margin-left: 20%;
    
    width: 30%;
    
  }
  .aboutUs2 {
    
    float: right;
    text-align: right;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 5%;
    margin-right: 20%;
    
    width: 30%;
    
  }
  
  
  @media screen and (max-width: 1920px) {
    .aboutUs {
      font-size: 25px;
      width: 1000px;
      height: 100%;
  
      padding-top: 8%;
      margin-right: 25%;
    }
  }
  @media screen and (max-width: 1400px) {
    .aboutUs {
      width: 750px;
      height: 100%;
  
      padding-top: 8%;
      margin-right: 20%;
    }
  }
  @media screen and (max-width: 1024px) {
    .aboutUs {
      width: 600px;
      height: 100%;
  
      padding-top: 10%;
      margin-right: 14%;
    }
  }
  @media screen and (max-width: 720px) {
    .aboutUs,
    .aboutUs2,
    .aboutUs1 {
      float: center;
      font-size: 18px;
      width: 200px;
      height: 60%;
  
      padding-top: 35%;
      margin-right: 20%;
    }
    .picture {
      float: center;
      position: relative;
      padding-top: 2%;
      left: 140px;
  
      border-radius: 50%;
    }
    .picture1 {
      float: center;
      position: relative;
      padding-top: 2%;
      right: 100px;
  
      border-radius: 50%;
    }
  }
  