/* Put stuff specific to the home page here */

body {
	background-color: blue;
	transition: background-color var(--scroll-speed) linear;
}

#header {
	transition: background-color var(--scroll-speed) linear, backdrop-filter var(--scroll-speed) linear;
}

div.home1 {
	background-color: red;
	color: white;

	font-size: 4em;
}
#home2-fade {
	opacity: 0;
	transition: all 1s ease-out;
	position: relative;

	left: -.2em;
}
#home2-fade.end {
	opacity: 1;

	left: 0;
}

div.home2 {
	/* Background image test */
	background: url("img/share-mom1.jpg");
	background-attachment: fixed;
	background-size: cover;

	color: white;
	text-shadow: 0 .1em .5em #0005;

	font-size: 4em;
}

div.home3 {
	background-color: #0000;
	color: white;

	font-size: 4em;
}

div.home4 {
	background-color: #0000;
	color: white;

	font-size: 4em;
}

/* For animations */
.footer {
	transform: translateY(101%);
	transition: transform var(--scroll-speed) linear;
}
