/* Put stuff specific to the home page here */

:root {
	/* Animation parameters */
	--slide-fade-in-time: 0.85s;
	--slide-in-time: 1s;
	--slide-in-offset: 1em;

	--fade-in-time: 1s;
}

/* Removing as background fade animation no longer used */
/* body {
	background-color: blue;
	transition: background-color var(--scroll-speed) linear;
} */

#header {
	transition: background-color var(--scroll-speed) linear, backdrop-filter var(--scroll-speed) linear;
}

div {
	background-size: cover;
	background-position: center;
}

div.home1 {
	background-color:#FF4242;
	color: white;

	font-size: 4em;
}
#home2-fade {
	opacity: 0;
	transition: all 1s ease-out;
	position: relative;

	left: -.2em;
}
#home2-fade.end {
	opacity: 1;

	left: 0;
}

div.home2 {
	background-image: url("img/globe.jpg");
	background-attachment: fixed;
	
	color: rgba(242, 13, 13);
	text-shadow: 0 .1em .5em #0005;
	font-weight: bold;
	font-size: 4em;
}

div.home3 {
	background-attachment: fixed;
	background-size: cover;
	background-image: url("img/joinUs.jpg");
	color: white;

	text-shadow: 0 .1em .5em #0005;
	font-weight: bold;
	font-size: 4em;
}

div.home4 {
	background-attachment: fixed;
	background-size: cover;
	background-image: url("img/section4.jpg");
	color: white;

	font-size: 4em;
}

/* For animations */
.footer {
	transform: translateY(101%);
	transition: transform var(--scroll-speed) linear;
}
/* Join button*/
.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: relative;
}
  
.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #af4c4c;
}
.button1:hover {
	background-color: #af4c4c;
	color: white;
}

.li{
	float: left;
}

/* CSS Only Animations */

/* Fade in */
.anim-fade {
	opacity: 0;

	transition: opacity var(--fade-in-time) linear;
}
.anim-end .anim-fade {
	opacity: 1;
}

/* Slide and fade in from left */
.anim-left {
	transform: translateX(calc(-1 * var(--slide-in-offset)));
	opacity: 0;

	transition: transform var(--slide-in-time) ease-out, opacity var(--slide-fade-in-time) linear;
	transition-delay: var(--scroll-speed);
}
.anim-end .anim-left {
	transform: none;
	opacity: 1;
}

/* Slide and fade in from right */
.anim-right {
	transform: translateX(var(--slide-in-offset));
	opacity: 0;

	transition: transform var(--slide-in-time) ease-out, opacity var(--slide-fade-in-time) linear;
	transition-delay: var(--scroll-speed);
}
.anim-end .anim-right {
	transform: none;
	opacity: 1;
}
