@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 5%;
	
}

div.content-img > img {
	width: 100%;
	display: block;
	border-style: solid;
    border-width: 10px 25px 3px 25px;
	border-color: dimgrey;
	border-bottom-color: black;
    margin-top: 15%;
	
	

}
div.content-img > span {
	/* Uncomment for text over image instead of below */
	/* position: absolute;
	top: 0;
	left: 0; */
	display: block;
	padding: 10px 15px;

	font-size: 1.5em;
	text-align: center; 
	font-family: cursive;
	color: white;
	background-color: rgb(77, 77, 77);
	/* text-shadow: 0 0 5px #0004; */
}

.project-text {
	font-size: 2.3em;
	font-family: monaco;
	margin-top: 15%;
	
}

body {
	background:var(--main-bg);
	min-height: 450vh;
}

h1.project-bg {
	font-family: 'Codystar', san-serif;
	font-size: 12vw;
	color: rgba(137, 199, 5, 0.125);
	text-align: center;
	position: fixed;
	width: 100vw;
	margin-top: 15vw;
}
.ourProject {
	margin: 0 auto 1em auto;
	margin-top: 5%;
	width: 70%;

	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	
	
}