.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 4%;
	grid-row-gap: 5%;
}

div.content-img > img {
	width: 100%;
	display: block;
}
div.content-img > span {
	/* Uncomment for text over image instead of below */
	/* position: absolute;
	top: 0;
	left: 0; */
	display: block;
	padding: 10px 15px;

	font-size: 1.5em;

	color: var(--main-text);
	/* text-shadow: 0 0 5px #0004; */
}
