/* Stuff specific to whole page scrolling */

:root {
	--scroll-speed: 0.25s;
}

div#page-scroller {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	transition: top var(--scroll-speed) linear;
}

div.page-section {
	height: 100vh;
}

div.page-section > div.center {
	margin: auto;
}
div.page-section > div.vertcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
