/* Stuff specific to whole page scrolling */

:root {
	--scroll-speed: 0.25s;

	--button-size: 3em;
}

div#page-scroller {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	transition: top var(--scroll-speed) linear;
}

div.page-section {
	height: 100vh;

	overflow: hidden;
}

div.page-section > div.center {
	margin: auto;
}
div.page-section > div.vertcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Button stuff */
#page-buttons {
	position: fixed;
	right: 2vw;
	top: 50vh;
	transform: translateY(-50%);
}
#page-buttons > div {
	display: block;
	width: var(--button-size);
	height: var(--button-size);

	border: 2px solid #000a;
	border-radius: 50%;

	margin-bottom: 0.5em;

	background-color: white;

	cursor: pointer;
}
#page-buttons > div:last-child {
	margin-bottom: 0;
}

#page-buttons > div.current {
	background-color: red;
}
